Makefile
Makefile.in
aclocal.m4
autom4te.cache/
clutter-gtk-[0-9].[0-9]*.pc
clutter-gtk.pc
.deps/
.libs/
/build/autotools/*.m4
!/build/autotools/shave.m4
/build/autotools/shave-libtool
/build/autotools/shave
/clutter-gtk/*.lo
/clutter-gtk/*.la
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
/doc/reference/*.stamp
/doc/reference/clutter-gtk-decl-list.txt
/doc/reference/clutter-gtk-decl.txt
/doc/reference/clutter-gtk-overrides.txt
/doc/reference/clutter-gtk-undeclared.txt
/doc/reference/clutter-gtk-undocumented.txt
/doc/reference/clutter-gtk-unused.txt
/doc/reference/clutter-gtk.args
/doc/reference/clutter-gtk.hierarchy
/doc/reference/clutter-gtk.interfaces
/doc/reference/clutter-gtk.prerequisites
/doc/reference/clutter-gtk.signals
/doc/reference/html/
/doc/reference/tmpl/
/doc/reference/version.xml
/doc/reference/xml/
/examples/*.o
/examples/gtk-clutter-events
/examples/gtk-clutter-multistage
/examples/gtk-clutter-test
/examples/gtk-clutter-test-actor
/examples/gtk-clutter-viewport
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
/clutter-gtk/GtkClutter-*.gir
/clutter-gtk/GtkClutter-*.typelib
*~
.*.swp
