Makefile
Makefile.in
aclocal.m4
autom4te.cache/
clutter-gtk-[0-9].[0-9]*.pc
clutter-gtk.pc
.deps/
.libs/
/ABOUT-NLS
/build/config.rpath
/build/autotools/*.m4
/build/compile
/clutter-gtk/*.lo
/clutter-gtk/*.la
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
/doc/reference/*.stamp
/doc/reference/clutter-gtk-*-decl-list.txt
/doc/reference/clutter-gtk-*-decl.txt
/doc/reference/clutter-gtk-*-overrides.txt
/doc/reference/clutter-gtk-*-undeclared.txt
/doc/reference/clutter-gtk-*-undocumented.txt
/doc/reference/clutter-gtk-*-unused.txt
/doc/reference/clutter-gtk-*.args
/doc/reference/clutter-gtk-*.hierarchy
/doc/reference/clutter-gtk-*.interfaces
/doc/reference/clutter-gtk-*.prerequisites
/doc/reference/clutter-gtk-*.signals
/doc/reference/html/
/doc/reference/tmpl/
/doc/reference/version.xml
/doc/reference/xml/
/doc/reference/*.bak
/examples/*.o
/examples/gtk-clutter-events
/examples/gtk-clutter-multistage
/examples/gtk-clutter-test
/examples/gtk-clutter-test-actor
/examples/gtk-clutter-viewport
/examples/animated-notebook
/examples/gtk-clutter-standin-test
/examples/gtk-clutter-test-actor
/examples/gtk-clutter-window-test
/examples/gtk-clutter-window-test2
/examples/refcounting-test
/examples/reparenting-test
/examples/expose-test
/examples/stacked-standins
/examples/test-scrolling
/examples/gtk-clutter-test-scroll
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
/clutter-gtk/gtk-clutter-version.h
/clutter-gtk/GtkClutter-*.gir
/clutter-gtk/GtkClutter-*.typelib
/po/Makefile.in.in
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/POTFILES
/po/*.pot
/po/remove-potcdate.sed
/po/stamp-po
*~
.*.swp
